.footer-text{
    font-size: 12px;
}

.footer-text-bold{
    font-weight:bold ;
}

.footer-header{
    margin-bottom: 40px;
    font-size: 14px;
}

.footer a{
    display: block;
    color: #555;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 32px;
    font-size: 12px;
}