.newsletter{
    
   background: url("../../public/images/newsletter/newsletter-bg.jpg") no-repeat;
   position:relative;
    color: #fff;
}

.newsletter::before{
    position: absolute;
    content: '';
    width:100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: rgba(246, 36 ,89 ,0.85);

}

.newsletter-text{
    width: 650px;
    line-height: 1.5; /* Adjust spacing between lines */
    height: 80px; /* Limit the height of the box */
    overflow: hidden; 
    line-height: 1.5;
    top: 0;
}
.newsletter-text,.newsletter-form,.border-left{
    position: relative;
    width: 500px;
    z-index: 3;
    text-align: left;
}

.newsletter-form{
      margin-top: 34px;
}
.newsletter-form button,.newsletter-form input{
    height: 44px;
    line-height: 44px;
}

.newsletter-form button{
     padding:0 50px;
     color: #fff; 
     background-color: transparent;
     border-color: #fff;
}

.newsletter-form input{
    border-radius: 30px;
    padding-left: 30px;
}

.newsletter-phone-img{
    position: absolute;
    bottom: 0;
    right: 200px;
    width:352px;
    height: 479px;
    background: url("../../public/images/newsletter/news-phone.png");
}